@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html,
body,
div,
input,
button,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6,
p,
text {
  font-family: 'Poppins', sans-serif;
}
html,
body {
  max-width: 100vw;
  min-height: 100vh;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: var(--background-dark);
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

[tabindex] {
  outline: none !important;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #0e151c;
  height: 100px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5f676e;
  border-radius: 5px;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #8b8e93;

  --color-background-primary: #161d28;
  --color-background-secondary: #222e3e;

  --color-one-dark: #046ef4;
  --color-one-light: #1b3758;
  --color-two-dark: #fc6a4b;
  --color-two-light: #40363f;
  --color-three-dark: #2bb23a;
  --color-three-light: #23423e;
  --color-four-dark: #af52c0;
  --color-four-light: #353352;

  --color-one: rgba(4, 110, 244, 1);
  --color-one-background: rgba(4, 110, 244, 0.2);
  --color-two: rgba(252, 62, 22, 1);
  --color-two-background: rgba(252, 62, 22, 0.2);
  --color-three: rgba(43, 178, 58, 1);
  --color-three-background: rgba(43, 178, 58, 0.2);
  --color-four: rgba(175, 82, 192, 1);
  --color-four-background: rgba(175, 82, 192, 0.2);
  --color-five: rgba(79, 209, 238, 1);
  --color-five-background: rgba(79, 209, 238, 0.2);
  --color-six: rgba(252, 106, 75, 1);
  --color-six-background: rgba(252, 106, 75, 0.2);
  --color-seven: rgba(255, 211, 0, 1);
  --color-seven-background: rgba(255, 211, 0, 0.2);
  --color-eight: rgba(255, 71, 126, 1);
  --color-eight-background: rgba(255, 71, 126, 0.2);

  --max-width: 55em;
  --max-width-bleed: 90%;
  --max-width-narrow: 50em;

  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

body {
  background: var(--color-background-primary);
}
